.venv
.vscode
ViTTeuF # name of local venv

**/__pycache__/
data/*
!data/.gitkeep

*.bbl
*.blg
*.synctex*
*.aux
*.bcf
*.log
*.out
*.run.xml
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.fdb_latexmk
*.fls

*.drawio.bkp